div#head{
    display: block;
    padding-right: 25%;
    padding-left:25%;
    padding-bottom: 5%;
}
div#form {
    display: block;
    padding-right: 25%;
    padding-left:25%;
    text-align: center;
}
div#form button {
    width: 100%;
    background-color: darkred;
}
h1{
    padding-bottom: 25%;
    padding-top: 5%;
}
div#result {
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
}
div#result .btn-primary {
    background-color: darkred;
}
